@import 'src/assets/sass/abstracts/mixins';
@import 'src/assets/sass/abstracts/vars';

.navigation {
  .button-nav-item > .navigation-title > a {
    @extend .button;
    @extend .button-main;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 500;
    padding: 4px 9px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    border-width: 3px;
    border-style: solid;
    border-color: var(--bg-accent);
  }

  ul {
    padding-left: 0;
  }

  .level0,
  .level1 {
    &:not(.button-nav-item) {
      > .navigation-title > a {
        font-size: $navigation-font-basic;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color: var(--text-colored);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  li {
    &.submenu {
      margin-bottom: 0;
    }

    > .navigation-title {
      > a {
        text-decoration: none;
      }
    }

    > ul a {
      font-size: $navigation-font-basic-submenu;
    }
  }

  .submenu > ul {
    padding-left: 10px;
  }

  &.navigation-centered {
    .component-content ul li.level1:not(.button-nav-item) > .navigation-title > a {
      font-weight: normal;
    }

    @media (width > 992px) {
      > .menu-mobile-navigate-wrapper {
        width: 100%;

        > .component-content {
          width: 100%;
        }
      }

      li.level1.item0.first,
      li.button-nav-item {
        margin-left: auto;
      }
    }
  }
}

@import 'src/assets/sass/components/navigation/';
