@import 'src/assets/sass/abstracts/mixins';
@import 'src/assets/sass/abstracts/vars';

a {
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  color: var(--link-color, $text-blue-active);
  border-bottom: 1px solid transparent;

  &:hover {
    color: var(--link-color-hover, $text-blue-active);
    text-decoration: underline;
  }
}
